.card {
  background: var(--color-card);
  border: 2px solid var(--color-border);
  color: var(--color-text);
  border-radius: 10px;
  padding: 30px;
  max-width: 1100px;
  margin: 0 auto; /* ancho limite vista desktop */
  /*width: 100%;*/
}
.col-img {
  display: flex;
  align-content: center;
  justify-content: center;
}
.product-image{
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
.col-img img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
#controles-cart{
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

/*  tablets */
@media (max-width: 992px ) {
  .card {
    padding: 20px;
    max-width: 90%;
  }
  .col-img img {
    max-width: 200px;
  }
}
/* cel grande */
@media (max-width: 768px) {
  .col-img, .col-12.col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

.product-image {
  max-width: 100%;
}
}
/* cel chico */

@media (max-width: 480px) {
  .card {
    padding: 15px;
    border-radius: 10px;
  }
  .card-body{
    border-radius: solid red
    ;
    font-size: 1rem;
    padding: 15px;
  }
  .card-body h5 p {
    font-size: 1rem;
  }
  .col-img img {
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}}