body {
  background: linear-gradient(90deg, #e2e2e2, #1b6d7f);
}
main .container {
  padding-top: 30px; /* deja espacio arriba */
  padding-bottom: 30px;
}

.zoom-hover {
  transition: color 0.3s ease !;
  cursor: pointer;
}

.zoom-hover:hover {
  color: #d9b382 !important;
}

.img-zoom {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.img-zoom:hover {
  transform: scale(1.15);
}

.list-group-item {
  width: 100%;
  max-width: 1173px;
  padding: 30px;
  margin: 20px auto;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.list-group-item:hover {
  transform: translateY(-3px);
}

.list-group-item img {
  border-radius: 20px;
}

.textoacortado {
  white-space: normal;
  word-wrap: break-word;
}

#c1 {
  color: black !important;
  font-size: 300%;
  font-weight: bolder;
}
nav a {
  text-decoration: none;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.cursor-active {
  cursor: pointer;
}



