body {
  background: linear-gradient(90deg, #e2e2e2, #1b6d7f);
}
main .container {
  padding-top: 30px; /* deja espacio arriba */
  padding-bottom: 30px;
}

.zoom-hover {
  transition: color 0.5s ease;
  cursor: pointer;
}

.zoom-hover:hover {
  color: #d9b382 !important;
}

.img-zoom {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.img-zoom:hover {
  transform: scale(1.15);
}

.list-group-item {
  width: 100%;
  padding: 30px;
  margin: 20px auto;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}
@media (max-width: 576) {
  .list-group-item img {
    max-width: 120px;
  }
} .list-group-item:first-child {
  border-radius: 30px;
  
}
.list-group-item:last-child {
  border-radius: 30px;
}

.list-group-item:hover {
  transform: translateY(-3px);
}

.list-group-item img {
  border-radius: 100%;
}

.textoacortado {
  white-space: normal;
  word-wrap: break-word;
}

#c1 {
  color: black;
  font-size: 300%;
  font-weight: bolder;
}
nav a {
  text-decoration: none;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.cursor-active {
  cursor: pointer;
}


.responsive{
 flex-wrap: wrap;
 gap: 10px;
 justify-content: center;
 display: flex;
}
.responsive button {
  flex: 1;           /* que se repartan el espacio */
  min-width: 120px;  /* no se achican demasiado */
  max-width: 200px;  /* no se agrandan infinito */
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #1b6d7f;
  color: white;
  font-size: 16px;
}
@media (max-width: 576px) {
  .responsive {
    flex: 100%;      
    max-width: 100%;  
  }
}
@media (max-width: 576px) {
  .btn-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .btn-group .btn {
    width: 100%;
    margin-bottom: 5px;
  }
}
