body {
  background: linear-gradient(90deg, var(--color-bg-secondary), var(--color-accent));
}
main .container {
  padding-top: 30px; /* deja espacio arriba */
  padding-bottom: 30px;
  
}

.zoom-hover {
  transition: color 0.5s ease;
  cursor: pointer;
}

.zoom-hover:hover {
  color: #d9b382 !important;
}

.img-zoom {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.img-zoom:hover {
  transform: scale(1.15);
}

.list-group-item {
  width: 90%;
  padding: 10px;
  margin: 30px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  border: 2px solid var(--color-accent);
  border-radius: 30px;
}
.list-group-item img {
  max-width: 30vh; /* la imagen nunca pasa de 120px */
  height: auto; /* mantiene proporción */
}

.list-group-item:first-child {
  border-radius: 30px;
}
.list-group-item:last-child {
  border-radius: 30px;
}

.list-group-item:hover {
  transform: translateY(-3px);
}

.textoacortado {
  white-space: normal;
  word-wrap: break-word;
}

#c1 {
  color: var(--color-text);
  font-size: 280%;
  font-weight: bolder;
}
nav a {
  text-decoration: none;
}

.site-header a {
  color: var(--color-bg);
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: var(--color-text);
}

.cursor-active {
  cursor: pointer;
}

.responsive {
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  display: flex;
}
.responsive button {
  flex: 1; /* que se repartan el espacio */
  min-width: 120px; /* no se achican demasiado */
  max-width: 200px; /* no se agrandan infinito */
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: var(--color-accent);
  color: var(--color-bg);
  font-size: 16px;
}
@media (max-width: 576px) {
  .responsive {
    flex: 100%;
    max-width: 50%;
  }
  .btn-group {
    display: inline-block;
    flex-direction: column;
    width: auto;
  }
  .btn-group .btn {
    width: auto;
    margin-bottom: 5px;
  }
  .list-group-item .col {
    position: relative;
  }
  .list-group-item .col > .d-flex small.text-muted {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.3em;
  }
}

