/* Fondo y espaciado */
body {
  background-color: var(--color-card);
}

/* Menú lateral */
aside {
  min-height: 100vh;
}

.list-group-item {
  border: solid;
  color: var(--color-border);
}

.list-group-item button:hover {
  background-color: var(--color-button);
  color: var(--color-bg-input);
  transition: 0.3s;
}

/* Perfil */
.card {
  background-color: var(--color-card);
  border-radius: 30px;
}

/* Imagen de perfil */
#profile-img {
  border: 3px solid var(--color-border);
  padding: 3px;
}
