.buscador-container {
  position: relative;
  width: 80%;
  max-width: 400px;
}
#buscador {
  width: 100%;
  padding: 10px 40px 10px 15px; /* deja espacio a la derecha para la lupa */
  border: 2px solid var(--color-border);
  border-radius: 30px;
  font-size: 16px;
}
#buscador:focus {
  outline: none;
  border-color: var(--color-border);
  box-shadow: 0 0 6px var(--color-shadow);
}
.buscador-container i {
  position: absolute;
  right: 15px;
  top: 40%;
  transform: translateY(-50%);
  color: var(--color-border);
  font-size: 18px;
  pointer-events: none; /* para que no bloquee el clic dentro del input */
}