h2{
  color: var(--color-text);
}
.btn {
  height: 48px;
  background: var(--color-button);
  
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-text-secondary);
  font-weight: 600;
  padding-left: 4%;
  padding-right: 4%;
}
#chmode {
  background: transparent;
}
/* CONTENEDOR PRINCIPAL */
#detalleProducto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.card-base {
  background: var(--color-card);
  border: 2px solid var(--color-border);
  color: var(--color-text);
  /*width: 100%;*/
}
/* CARD PRODUCTO */
#cardProducto {
  border-radius: 30px;
  padding: 30px;
  max-width: 1100px; /* ancho limite vista desktop */
}

/* Imagen principal */
#imgPrincipal {
  max-height: 400px;
  object-fit: contain;
  width: 100%;
}

/* Miniaturas */
#carrusel img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

#carrusel img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px var(--color-shadow);
}
section{
  padding: 20px;
}
/* CARD PRODUCTO RELACIONADO */
#card-related {
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.2s;
}
#card-related:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px var(--color-shadow);
}
/* CARD COMENTARIO */
.card-comment {
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 10px;

}

/*CARD COMENTARIO CREADO*/
.card.p-3.mb-3 {
  background-color: var(--color-card);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 10px;
}
#ratingStars i {
  cursor: pointer;        
  transition: transform 0.2s; 
}
#ratingStars i:hover {
  transform: scale(1.2);  
}


/* Resolución Estándar (1366px) */
@media (min-width: 1025px) {
  #cardProducto .row {
    display: flex;
    align-items: flex-start; /* texto arriba */
  }
}

/* Tablet (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  #cardProducto .row {
    flex-direction: column;
  }
  #imgPrincipal {
    max-height: 300px;
  }

  #carrusel img {
    width: 80px;
    height: 60px;
  }
}

/* Smartphone (<768px) */
@media (max-width: 767px) {
  #cardProducto .row {
    flex-direction: column;
  }

  #imgPrincipal {
    max-height: 200px;
  }

  #carrusel img {
    width: 60px;
    height: 45px;
  }

  #cardProducto {
    padding: 15px;
  }
}
